* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #FFFF;
}

body {
  background-color: #1961AC;
}

a {
  text-decoration: inherit;
  color: inherit;
}

nav {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

nav img {
  width: 15rem;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 2rem 0 0 5rem;
}

article h1 {
  color: #ffce65;
  max-width: fit-content;
}

article h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

article p {
  margin-top: 0.5rem;
}